:root {
  --primary-color: whitesmoke;
  --secondary-color: black;
}

.header {
  margin-bottom: 0;
  color: black;
  max-height: 200px;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../assets/images/header-img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: sticky;
  top: 0;
  z-index: 9999;
}

h1{
  color: black;
}

.header,
.header-navigation {
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: space-around;
}

