.App {
  text-align: center;
}
.about-me{
  display: flex;
}
.about-me,
.contact  {
  color: white;
  background-color: black;
}
.contact{
  padding-top: 20px;
}
.selfie {
  max-height: 200px;
  margin: 10px 30px 10px 40px ;
}

.bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 200px;
  max-width: 1000px;
}

.project_items{

  width: 50%; 
}

.project_item{
  float: left; 
  margin: 80px;
  width: 35%;
  
}

.bio {
  float: right;
}
/* #contact-form {
  float: right;
} */
#message {
  height: 100px;
  width: 300px;
  margin-top: 10px;
  border: 1px solid whitesmoke;
}
#email,
#name {
  border: 1px solid whitesmoke;
  margin: 10px;
  width: 210px
}

.resume {
  text-align: center;
  font-size: 30px;
  padding: 110px;
  background-color: black;
  color: whitesmoke;
}

